#mainContent {
    width: 1130px;
    background-color: #552f0e;
    margin: 10px auto;
}

.empty {
    width: 10px;
}

#mainContent .about {
    margin: 1%;
    float: left;
    width: 650px;
    background-color: #faf5f3;
}

#about-banner {
    background-image: url("images/losbaner.jpg");
    height: 335px;
    width: 650px;
}

#about-banner #nav {
    position: relative;
    top: 170px;
}

/* right pane */

.news {
    margin: 1%;
    float: left;
    width: 35%;
    background-color: #faf5f3;
    padding: 1%;
    min-width: 220px;
}

.news h2 {
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #dbdbdb;
    padding: 3px;
}

.news .abstract-title {
    text-decoration: none;
    color: #ffffff;
}

.news .abstract-title:hover {
    text-decoration: underline;
}

.news-article {
    border-bottom: 1px solid #dbdbdb;
    padding: 3px;
    font-size: 12px;
    text-align: justify;
    margin: 12px 0px;
}

.news-article p {
    margin: 0px;
    display: inline;
}

.ribbon-side {
    font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
    float: right;
    position: relative;
    right: -22px;
    min-height: 24px;
    max-width: 180px;
    background-color: #847520;
    color: #ffffff;
    padding: 0px 7px;
    font-size: 13px;
}