<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Koło łowieckie Łoś</title>
        <link rel="stylesheet" type="text/css" href="/admin.css" />
        <link rel="stylesheet" type="text/css" href="/adminList.css" />
    </head>
    <body>
        <div id="nav"th:replace="adminNav" />
        <div id="content">
            <table>
                <thead>
                    <th>Lorem ipsum</th>
                    <th>dolor sit amet</th>
                </thead>
                <tbody>
                    <tr th:each="postInfo : ${articles.postInfos}">
                        <td>
                            <a th:href="@{/admin/aktualnosci/{id}(id=${postInfo.id})}" th:text="${postInfo.title}"
                                >Lorem ipsum dolor sit amet, consectetur</a
                            >
                        </td>
                        <td class="publish-date" th:text="${postInfo.publishDate}">
                            20-03-2020
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="prev-next">
                <a th:href="@{/admin/aktualnosci(page=${pagination.next})}" th:if="${pagination.hasNext}">Następne</a>
                <a th:href="@{/admin/aktualnosci(page=${pagination.previous})}" th:if="${pagination.hasPrevious}">Poprzednie</a>
            </div>
            <div id="new-article">
                <a href="/admin/aktualnosci/nowa">Nowa wiadomość</a>
            </div>
        </div>
    </body>
</html>
