<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="nav" th:fragment="adminNav">
            <ul>
                <li><a href="/admin">Panel zarządzania</a></li>
                <li><a href="/admin/glowna">Strona główna koła</a></li>
                <li><a href="/admin/aktualnosci">Aktualności</a></li>
                <li><a href="/admin/uchwaly">Uchwały</a></li>
                <li><a href="/admin/historia">Historia koła</a></li>
                <li><a href="/admin/galeria">Galeria</a></li>
                <li><a href="/admin/kontakt">Kontakt</a></li>
            </ul>
        </div>
    </body>
</html>