<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Koło łowieckie Łoś</title>
        <link rel="stylesheet" type="text/css" href="mainStyles.css" />
        <link rel="stylesheet" type="text/css" href="article.css" />
        <link rel="stylesheet" type="text/css" href="ribbon.css" />
    </head>

    <body>
        <div id="pageContainer" class="light-shadow">
            <div id="banner" th:replace="logoAndNav" />
            <div class="page-content">
                <div class="ribbon-edge-topleft"></div>
                <div class="title" th:text="${article.title}">
                    Lorem ipsum dolor sit amet
                </div>
                <p th:text="${article.content}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Elementum integer enim neque volutpat. Blandit
                    cursus risus at ultrices. Lectus mauris ultrices eros in
                    cursus turpis massa tincidunt dui. Aliquam sem fringilla ut
                    morbi tincidunt augue interdum velit.Non quam lacus
                    suspendisse faucibus interdum. Sollicitudin ac orci
                    phasellus egestas tellus. Diam ut venenatis tellus in metus
                    vulputate eu scelerisque. Interdum varius sit amet mattis
                    vulputate enim nulla. Suspendisse potenti nullam ac tortor.
                    Lacus vestibulum sed arcu non odio euismod lacinia at.
                    Tellus in metus vulputate eu scelerisque felis imperdiet
                    proin. Non consectetur a erat nam at lectus urna duis
                    convallis. Libero nunc consequat interdum varius. Sagittis
                    id consectetur purus ut. Laoreet sit amet cursus sit amet
                    dictum. Vivamus at augue eget arcu dictum varius. Nunc
                    faucibus a pellentesque sit amet porttitor eget dolor morbi.
                    Est pellentesque elit ullamcorper dignissim. Maecenas
                    pharetra convallis posuere morbi. Nisl nisi scelerisque eu
                    ultrices. Sagittis aliquam malesuada bibendum arcu vitae
                    elementum. Eu feugiat pretium nibh ipsum consequat nisl vel.
                    Sit amet nulla facilisi morbi tempus iaculis. Massa vitae
                    tortor condimentum lacinia. Urna porttitor rhoncus dolor
                    purus non enim praesent elementum. Turpis egestas integer
                    eget aliquet nibh. Mattis pellentesque id nibh tortor id.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Elementum integer enim neque volutpat. Blandit
                    cursus risus at ultrices. Lectus mauris ultrices eros in
                    cursus turpis massa tincidunt dui. Aliquam sem fringilla ut
                    morbi tincidunt augue interdum velit.Non quam lacus
                    suspendisse faucibus interdum. Sollicitudin ac orci
                    phasellus egestas tellus. Diam ut venenatis tellus in metus
                    vulputate eu scelerisque. Interdum varius sit amet mattis
                    vulputate enim nulla. Suspendisse potenti nullam ac tortor.
                    Lacus vestibulum sed arcu non odio euismod lacinia at.
                    Tellus in metus vulputate eu scelerisque felis imperdiet
                    proin. Non consectetur a erat nam at lectus urna duis
                    convallis. Libero nunc consequat interdum varius. Sagittis
                    id consectetur purus ut. Laoreet sit amet cursus sit amet
                    dictum. Vivamus at augue eget arcu dictum varius. Nunc
                    faucibus a pellentesque sit amet porttitor eget dolor morbi.
                    Est pellentesque elit ullamcorper dignissim. Maecenas
                    pharetra convallis posuere morbi. Nisl nisi scelerisque eu
                    ultrices. Sagittis aliquam malesuada bibendum arcu vitae
                    elementum. Eu feugiat pretium nibh ipsum consequat nisl vel.
                    Sit amet nulla facilisi morbi tempus iaculis. Massa vitae
                    tortor condimentum lacinia. Urna porttitor rhoncus dolor
                    purus non enim praesent elementum. Turpis egestas integer
                    eget aliquet nibh. Mattis pellentesque id nibh tortor id.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Elementum integer enim neque volutpat. Blandit
                    cursus risus at ultrices. Lectus mauris ultrices eros in
                    cursus turpis massa tincidunt dui. Aliquam sem fringilla ut
                    morbi tincidunt augue interdum velit.Non quam lacus
                    suspendisse faucibus interdum. Sollicitudin ac orci
                    phasellus egestas tellus. Diam ut venenatis tellus in metus
                    vulputate eu scelerisque. Interdum varius sit amet mattis
                    vulputate enim nulla. Suspendisse potenti nullam ac tortor.
                    Lacus vestibulum sed arcu non odio euismod lacinia at.
                    Tellus in metus vulputate eu scelerisque felis imperdiet
                    proin. Non consectetur a erat nam at lectus urna duis
                    convallis. Libero nunc consequat interdum varius. Sagittis
                    id consectetur purus ut. Laoreet sit amet cursus sit amet
                    dictum. Vivamus at augue eget arcu dictum varius. Nunc
                    faucibus a pellentesque sit amet porttitor eget dolor morbi.
                    Est pellentesque elit ullamcorper dignissim. Maecenas
                    pharetra convallis posuere morbi. Nisl nisi scelerisque eu
                    ultrices. Sagittis aliquam malesuada bibendum arcu vitae
                    elementum. Eu feugiat pretium nibh ipsum consequat nisl vel.
                    Sit amet nulla facilisi morbi tempus iaculis. Massa vitae
                    tortor condimentum lacinia. Urna porttitor rhoncus dolor
                    purus non enim praesent elementum. Turpis egestas integer
                    eget aliquet nibh. Mattis pellentesque id nibh tortor id.
                </p>
            </div>
        </div>
    </body>
</html>
