<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Koło łowieckie Łoś</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <link rel="stylesheet" type="text/css" href="mainStyles.css"/>
    <link rel="stylesheet" type="text/css" href="flex.css"/>
    <link rel="stylesheet" type="text/css" href="ribbon.css"/>
</head>

<body>
<div id="mainContent" class="flexbox">
    <div class="empty empty_left_flex_col_0"></div>
    <div class="about light-shadow col col_1">
        <div id="about-banner">
            <div id="about-logo">
                <a href="./">
                    <img src="images/logow.png"/>
                </a>
            </div>
            <ul id="nav">
                <li><a href="/">Strona główna</a></li>
                <li><a href="/aktualnosci">Aktualności</a></li>
                <li><a href="/uchwaly">Uchwały</a></li>
                <li><a href="/historia">Historia koła</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div class="page-content">
            <div class="ribbon-edge-topleft"></div>
            <div class="title">
                O kole łowieckim
            </div>
            <p th:text="${index.welcomeText}"/>
        </div>
    </div>

    <div class="news light-shadow col col_2">
        <h2>Aktualności</h2>
        <div th:each="abstract : ${index.abstracts}">
            <div class="small-ribbon-edge-topright"></div>
            <div class="ribbon-side dark-shadow">
                <a class="abstract-title" th:text="${abstract.title}" th:href="@{/aktualnosci/{id}(id=${abstract.link})}">Interesting article 1</a>
            </div>
            <div class="news-article">
                <span th:text="${abstract.content}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Elementum integer enim neque volutpat. Non quam lacus suspendisse faucibus
                    interdum. Sollicitudin ac orci
                    phasellus egestas tellus. Diam ut venenatis tellus in ...
                </span><a th:href="@{/aktualnosci/{id}(id=${abstract.link})}">więcej</a></div>
        </div>
        <h2>Ostatnia galeria</h2>
    </div>
</body>

</html>