<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Koło łowieckie Łoś</title>
        <link rel="stylesheet" type="text/css" href="mainStyles.css" />
        <link rel="stylesheet" type="text/css" href="article.css" />
        <link rel="stylesheet" type="text/css" href="ribbon.css" />
        <link rel="stylesheet" type="text/css" href="list.css" />
        <link rel="stylesheet" type="text/css" href="paginable.css" />
    </head>

    <body>
        <div id="pageContainer" class="light-shadow">
            <div id="banner" th:replace="logoAndNav" />
            <div class="page-content">
                <div class="ribbon-edge-topleft"></div>
                <div class="title" th:text="${posts.title}">
                    Lorem ipsum dolor sit amet
                </div>
                <ul>
                    <li th:each="abstract : ${posts.abstracts}">
                        <post>
                            <header>
                                <a th:href="@{/aktualnosci/{id}(id=${abstract.link})}" th:text="${abstract.title}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                            </header>
                            <div class="post-published" th:text="${abstract.publishDate}">6 marca 2020</div>
                            <p th:text="${abstract.content}">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                                Elementum integer enim neque volutpat. Blandit
                                cursus risus at ultrices. Lectus mauris ultrices
                                eros in cursus turpis massa tincidunt dui.
                                Aliquam sem fringilla ut morbi tincidunt augue
                                interdum velit.Non quam lacus suspendisse
                                faucibus interdum. Sollicitudin ac orci
                                phasellus egestas tellus.
                            </p>
                        </post>
                    </li>
                </ul>    
                <div id="other-page-link">
                    <a href="">Nowsze</a>
                    <a href="">Starsze</a>
                </div>            
            </div>
        </div>
    </body>
</html>
