<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Koło łowieckie Łoś</title>
        <link rel="stylesheet" type="text/css" href="mainStyles.css" />
        <link rel="stylesheet" type="text/css" href="post.css" />
        <link rel="stylesheet" type="text/css" href="ribbon.css" />
        <link rel="stylesheet" type="text/css" href="list.css" />
        <link rel="stylesheet" type="text/css" href="paginable.css" />
    </head>

    <body>
        <div id="pageContainer" class="light-shadow">
            <div id="banner" th:replace="logoAndNav" />
            <div class="page-content">
                <div class="ribbon-edge-topleft"></div>
                <div class="title" th:text="${items.title}">
                    Lorem ipsum dolor sit amet
                </div>
                <ul>
                    <li th:each="item : ${items.itemAbstracts}">
                        <post>
                            <header><a th:href="@{/galeria/{id}(id=${item.link})}" th:text="${item.title}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></header>
                        </post>
                    </li>
                </ul>    
                <div id="other-page-link">
                    <a th:href="@{/galeria(page=${items.previousPage})}" th:if="${items.hasPrevious}">Nowsze</a>
                    <a th:href="@{/galeria(page=${items.nextPage})}" th:if="${items.hasNext}">Starsze</a>
                </div>            
            </div>
        </div>
    </body>
</html>
