<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Koło łowieckie Łoś</title>
        <link rel="stylesheet" type="text/css" href="mainStyles.css" />
        <link rel="stylesheet" type="text/css" href="post.css" />
        <link rel="stylesheet" type="text/css" href="ribbon.css" />
        <link rel="stylesheet" type="text/css" href="login.css" />
    </head>

    <body>
        <div id="pageContainer" class="light-shadow">
            <div id="banner" th:replace="logoAndNav" />
            <div class="page-content" action="login">
                <div class="ribbon-edge-topleft"></div>
                <div class="title">
                    Zaloguj się
                </div>
                <div id="labelContainer">
                    <form method="POST">
                        <div class="form-data">
                            <label for="login">Nazwa użytkownika:</label>
                            <input id="login" type="text" class="input-data" />
                        </div>
                        <div class="form-data">
                            <label for="password">Hasło:</label>
                            <input id="password" type="password" class="input-data" />
                        </div>
                        <div class="form-data">
                            <input type="submit" value="Zaloguj" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
