<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div id="banner" th:fragment="logoAndNav">
            <div id="about-logo">
                <a href="./">
                    <img src="/images/logow.png"/>
                </a>
            </div>
            <ul id="nav">
                <li><a href="/">Strona główna</a></li>
                <li><a href="/aktualnosci">Aktualności</a></li>
                <li><a href="/uchwaly">Uchwały</a></li>
                <li><a href="/historia">Historia koła</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
    </body>
</html>